{% extends 'base.html.twig' %}

{% block title %}Pictures index{% endblock %}

{% block body %}
    <h1>Pictures index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Source</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.name }}</td>
                <td>{{ picture.description }}</td>
                <td>
                    {{ picture.source }}
                    <img src="/uploads/{{ picture.source }}" style="width: 200px" alt="">
                </td>
                <td>
                    <a href="{{ path('app_pictures_show', {'id': picture.id}) }}">show</a>
                    <a href="{{ path('app_pictures_edit', {'id': picture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pictures_new') }}">Create new</a>
{% endblock %}
