<header class="main-header">
    <div class="container">

        <nav class="navbar navbar-expand-lg">

            {# Logo / Brand #}
            <a class="navbar-brand" href="{{ url('app_homepage') }}">
                <img src="{{ asset('build/images/logo/brand.svg') }}" alt="">
            </a>

            {# Burger Button #}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {# Left Nav #}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url('app_homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_picture_index') }}">Pictures</a>
                    </li>
                </ul>

                {# Right Nav (User Nav) #}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_profile') }}">{{ app.user.firstname }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_logout') }}">Logout</a>
                    </li>
                        
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_login') }}">Login</a>
                    </li>
                    {% endif %}

                </ul>

            </div>
        </nav>

    </div>
</header>